<configuration>

    <property name="SERVICE_NAME" value="challenge-service"/>
    <property name="ENVIRONMENT" value="development"/>

    <!-- Encodeur JSON pour Loki -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <customFields>
                {"service.name": "${SERVICE_NAME}", "environment": "${ENVIRONMENT}"}
            </customFields>
        </encoder>
    </appender>

    <!-- Niveau global -->
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

</configuration>
